<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink='/' class="nav-link" routerLinkActive="active" style="margin-left: 50px;">
              Accueil
            </a>
        </li>
        <li class="nav-item">
          <a routerLink='add' class="nav-link" routerLinkActive="active" style="margin-left: 15px;">
            Ajouter livre
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="shopping-cart" class="nav-link" routerLinkActive="active" style="margin-left: 15px;">
            Panier
          </a>
        </li> 
      </ul>
    </div>
</nav>


<div class="container">
    <router-outlet></router-outlet>
</div>